@charset "utf-8";
/* CSS Document */

.all{
	margin:0 auto;
}
.top{
	width:1500px;
	height:100px;
	margin:0 auto;
	position:relative;
	background-color:#adb8ba;
}
.title{
	color:#FFF;
	font-size:30px;
	position:absolute;
	font-family:Tahoma, Geneva, sans-serif;
	top:33px;
	left:600px;
	text-align:center;
	width:400px;
	height:60px;
	letter-spacing:3px;
	font-weight:bold;
}
.text{
	width:150px;
	height:100%;
	float:left;
}
.box{
	border:solid 1px #717775;
	height:30px;
	width:200px;
	font-size:18px;
	line-height:28px;
	position:absolute;
	top:35px;
	left:1200px;
}
input{
	padding:0;
	margin:0;
	background:none;
}
.submit{
	width:46px;
	height:100%;
	background-color:#717775;
	color:#FFF;
}
.navigation{
	height:50px;
	width:1500px;
	background-color:#fdcd01;
	margin-top:-16px;
	
}
.navigation ul{
	list-style:none;
	width:1500px;
}
.navigation ul li{
	font-size:24px;
	font-weight:bold;
	float:left;
	text-align:center;
	width:175px;
	line-height:1.5em;
	padding-top:5px;
}
.navigation ul li a{
	text-decoration:none;
	color:#FFF;
}
.navigation ul li:hover{
	color:#FFF;
	width:175px;
	height:45px;
	background-color:#adb8ba;
}
.mid{
	background-color:#9fd7e6;
	width:1500px;
	height:500px;
	clear:both;
}
.mid1{
	width:850px;
	height:500px;
	float:left;
}
.mid2{
	width:650px;
	height:500px;
	float:left;
}
.mid2 ul{
	height:240px;
	width:650px;
	font-size:24px;
	list-style:none;
}
.mid2 ul a{
	text-decoration:none;
}
.mid2 ul a:hover{
	color:#00c;
}
.mid2 ul li{
	height:35px;
	width:650px;
	font-size:16px;
	margin-top:15px;
}
.mid2 ul li a{
	text-decoration:none;
	color:#FFF;
}
.mid2 ul li a:hover{
	color:#00C;
}
.batton{
	width:1500px;
	height:400px;
	background-color:#9fd7e6;
	margin:0 auto;
}
.batton1{
	width:850px;
	height:400px;
	float:left;
}
.batton11{
	width:350px;
	height:400px;
	font-size:30px;
	float:left;
}
.batton111{
	color:#fff;
	width:350px;
	height:60px;
	padding-top:20px;
	padding-left:40px;
}
.batton112{
	padding-left:40px;
}
.batton12{
	width:500px;
	height:400px;
	float:left;
}
.batton12 ul{
	list-style:none;
	width:500px;
	height:400px;
	padding-top:70px;
}
.batton12 ul li{
	height:60px;
	width:350px;
	text-align:center;
	font-size:18px;
}
.batton2{
	width:650px;
	height:400px;
	float:left;
}
.batton2 ul{
	list-style:none;
	font-size:24px;
}
.batton2 ul a{
	text-decoration:none;
}
.batton2 ul li{
	font-size:17px;
	height:45px;
	width:650px;
	margin-top:20px;
}
.batton2 ul li a{
	text-decoration:none;
	color:#FFF;
}
.batton2 ul li a:hover{
	color:#00C;
}
.floor{
	width:1500px;
	height:120px;
	background-color:#adb8ba;
	margin:0 auto;
}
.floor1{
	width:150px;
	height:120px;
	float:left;
	text-align:center;
	padding-top:9px;
}
.floor2{
	width:450px;
	height:120px;
	float:left;
}
.floor2 div{
	color:#FFF;
	font-size:13px;
	line-height:60px;
	text-align:center;
}
.floor3{
	width:350px;
	height:120px;
	float:left;
}
.floor3 div{
	color:#FFF;
	font-size:13px;
	line-height:60px;
	text-align:center;
}
.floor4{
	width:550px;
	height:120px;
	float:left;
}
.floor4 div{
	color:#FFF;
	font-size:13px;
	line-height:60px;
	text-align:center;
}








